.modal {
  position: fixed;
  z-index: 500;
  background-color: #FFF;
  width: 96%;
  border: 1px solid #838282;
  border-radius: 6px;
  left: 2%;
  top: 120px;
  box-sizing: border-box;
  transition: all 600ms ease-out;
  color: #000;
}

@media (min-width: 340px) {
  .modal {
    top: 90px;
  }
}

@media (min-width: 452px) {
  .modal {
    top: 60px;
  }
}

@media (min-width: 768px) {
  .modal {
    padding: 40px;
    width: 90%;
    left: 5%;
  }
}

@media (min-width: 992px) {
  .modal {
    padding: 40px;
    width: 80%;
    left: 10%;
  }
}